/.idea
/dataSet1
/GenerateDataBase/*.pickle
/GenerateDataBase/*.npy
/dataSetNpy1
/dataSetPcd1
/OxfordDataBase
/trainWriter
/TrainWriter
/Pretrain
/*.bin
/*.pickle
/checkPoints
/dataTrain1
/dataSet3
/dataEvaluate1
/dataEvaluate2
/dataSetNpy3
/*.csv
/Reference
/Img
/*.mp4
